[submodule "roles/FDP-ansible-role"]
	path = roles/FDP-ansible-role
	url = git@github.com:RickBioInf/FDP-ansible-role
[submodule "roles/docker-ansible"]
	path = roles/docker-ansible
	url = git@github.com:RickBioInf/docker-ansible
